@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>для предложений работы вы можете воспользоваться следующими контактами</h3>

<address>
    Холоднюк Федор Ярославович <br />
    <strong>Телефон:</strong>   +7 920 312 4068<br />
    <strong>e-mail:</strong>   <a href="mailto:holodnukfedor@gmail.com">holodnukfedor@gmail.com</a><br />
</address>